div	{
	display: block;
}

img	{
	vertical-align: middle;
	border-style: none;
}
a{
	text-decoration-line: none !important;
}
label{
	cursor: pointer;
}
td img{
	width: 100%;
}
a:hover{
	cursor: pointer;
}

.nav-item{
	display: block;
}
.action-part{
	padding: 1rem;
	background-color: #eee;
	display: flex;
	justify-content: center;
}
.basic-info{
	padding-top: 2rem;
	font-size: 32px;
	text-align: center;
}
.non-display{
	display: none;
}
.align-end{
	text-align: end !important;
}
.align-start{
	text-align: start !important;
}
.full-width{
	width: 100% !important;
}
.video_show{
	width: 100%;
	height: 300px;
}
.center-items{
	display: flex; 
	align-items: center;
}

@media screen and ( max-width: 892px){
	.show-info{
		display: none;
	}
}