div	{
	display: block;
}
.nav-item{
	display: block;
}
img	{
	vertical-align: middle;
	border-style: none;
}
a{
	text-decoration-line: none !important;
}
.action-part{
	padding: 1rem;
	background-color: #eee;
	display: flex;
	justify-content: center;
}
.basic-info{
	padding-top: 2rem;
	font-size: 32px;
	text-align: center;
}
#upload-img{
	/*opacity: 0;*/
	display: none;
	/*position: absolute;
	z-index: -1;*/
}
.non-display{
	display: none;
}
.align-end{
	text-align: end !important;
}
.align-start{
	text-align: start !important;
}
.video_show{
	width: 100%;
	/*max-width: 400px;*/
	height: 300px;
}
label{
	cursor: pointer;
}